/* whole footer style  */
.footer-container{
    background-color: rgb(0, 19, 55);
}
/* footer info style  */
.footer-info{
    flex-direction:row-reverse;
}
/* every icon style */
.icon a{
padding: 15px;
 color: white;
}
/* whole icon style */
.icon-container{
    display: inline-block;
    font-size: 30px;
    margin: 10px;
}
.copyright{
    background-color: rgb(2, 16, 45);
    padding-top: 20px;
    padding-bottom: 20px;
}